:root {
  --black: #2c3e50;
  --clouds: #ecf0f1;
  --gray: #bdc3c7;
  --red: #c0392b;
  --yellow: #f1c40f;
}

* {
  font-family: "Ubuntu", sans-serif, serif;
  box-sizing: border-box;
}

#body {
  background: rgb(44, 62, 80);
  background: linear-gradient(
    180deg,
    rgba(44, 62, 80, 1) 35%,
    rgba(12, 15, 18, 1) 100%
  );
  height: 100vh;
  background-color: var(--black) !important;
  padding-top: 2rem;
}

#main-content {
  text-align: center;
}

.title {
  color: var(--yellow);
  margin-bottom: 2rem;
}

.subtitle {
  color: var(--black);
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.card {
  background-color: var(--clouds);
  padding: 2rem 1.5rem;
  border: 1px solid var(--gray);
  max-width: 80%;
  display: block;
  margin: 0 auto 2rem auto;
  border-radius: 0.5rem;
}

/* Coloque seu código CSS abaixo /o/ */
.grid {
  display: grid;
  gap: 1rem;
}
.grid-item {
  border: 1px solid #ccc;
  padding: 0.75rem 0.5rem;
  border-radius: 4px;
}
.form-layout {
  grid-template-areas:
    "name name lastName lastName"
    "email email email email"
    "address address address number"
    "city city state state"
    "district district district district"
    "about about about about"
    "btnReset . . btnSubmit";
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
#name {
  grid-area: name;
}
#last-name {
  grid-area: lastName;
}
#email {
  grid-area: email;
}
#address {
  grid-area: address;
}
#number {
  grid-area: number;
}
#city {
  grid-area: city;
}
#state {
  grid-area: state;
}
#district {
  grid-area: district;
}
#about {
  grid-area: about;
}
#btn-reset {
  grid-area: btnReset;
}
#btn-submit {
  grid-area: btnSubmit;
}

/* Botões */
.btn {
  border-radius: 4px;
  border: transparent;
  padding: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.8;
  /* transition faz todos(all) os efeitos do botão ficarem suaves */
  transition: 0.2s ease-in-out all;
  width: 100%;
}
.btn:hover {
  opacity: 1;
  /* scale aumenta o tamanho do botão em 1.05 */
  transform: scale(1.05);
}
.btn.btn-primary {
  background-color: var(--yellow);
}
.btn.btn-danger {
  background-color: var(--red);
  color: var(--clouds);
}
