<main id="main-content">
  <div class="lesson lesson-lg" *ngIf="lesson === 0">
    <section class="card">
      <h1 class="title">CSS Grid Layout</h1>
      <h2 class="subtitle">AmbevTech</h2>
      <button class="btn btn-inline-block" (click)="init()">Let's code!</button>
    </section>
  </div>

  <div class="lesson" *ngIf="lesson === 1">
    <h2 class="subtitle">#{{ lesson }} display: grid</h2>
    <section [ngClass]="{ 'full-page': fullPageStyle }" class="card grid">
      <div class="grid-item">Item 1</div>
      <div class="grid-item">Item 2</div>
      <div class="grid-item">Item 3</div>
      <div class="grid-item">Item 4</div>
    </section>
  </div>

  <div class="lesson" *ngIf="lesson === 2">
    <h2 class="subtitle">#{{ lesson }} grid-template-columns: px</h2>
    <section
      [ngClass]="{ 'full-page': fullPageStyle }"
      class="card grid gtc-px"
    >
      <div class="grid-item">Item 1</div>
      <div class="grid-item">Item 2</div>
      <div class="grid-item">Item 3</div>
    </section>
  </div>

  <div class="lesson" *ngIf="lesson === 3">
    <h2 class="subtitle">#{{ lesson }} grid-template-columns: fr</h2>
    <section
      [ngClass]="{ 'full-page': fullPageStyle }"
      class="card grid gtc-fr"
    >
      <div class="grid-item">Item 1</div>
      <div class="grid-item">Item 2</div>
      <div class="grid-item">Item 3</div>
    </section>
  </div>

  <div class="lesson" *ngIf="lesson === 4">
    <h2 class="subtitle">#{{ lesson }} grid-template-columns: repeat()</h2>
    <section
      [ngClass]="{ 'full-page': fullPageStyle }"
      class="card grid gtc-repeat"
    >
      <div class="grid-item">Item 1</div>
      <div class="grid-item">Item 2</div>
      <div class="grid-item">Item 3</div>
    </section>
  </div>

  <div class="lesson" *ngIf="lesson === 5">
    <h2 class="subtitle">#{{ lesson }} grid-template-columns: auto-fit()</h2>
    <section
      [ngClass]="{ 'full-page': fullPageStyle }"
      class="card grid gtc-autofit"
    >
      <div class="grid-item">Item 1</div>
      <div class="grid-item">Item 2</div>
      <div class="grid-item">Item 3</div>
      <div class="grid-item">Item 4</div>
      <div class="grid-item">Item 5</div>
      <div class="grid-item">Item 6</div>
    </section>
  </div>

  <div class="lesson" *ngIf="lesson === 6">
    <h2 class="subtitle">#{{ lesson }} grid-template-columns: minmax()</h2>
    <section
      [ngClass]="{ 'full-page': fullPageStyle }"
      class="card grid gtc-minmax1"
    >
      <div class="grid-item">Item 1</div>
      <div class="grid-item">Item 2</div>
      <div class="grid-item">Item 3</div>
    </section>
  </div>

  <div class="lesson" *ngIf="lesson === 7">
    <h2 class="subtitle">#{{ lesson }} grid-template-columns: minmax()</h2>
    <section
      [ngClass]="{ 'full-page': fullPageStyle }"
      class="card grid gtc-minmax1"
    >
      <div class="grid-item">Item 1</div>
      <div class="grid-item">Item 2</div>
      <div class="grid-item">Item 3</div>
    </section>
  </div>

  <div class="lesson" *ngIf="lesson === 8">
    <h2 class="subtitle">#{{ lesson }} grid-template-columns: minmax()</h2>
    <section
      [ngClass]="{ 'full-page': fullPageStyle }"
      class="card grid gtc-minmax2"
    >
      <div class="grid-item">Item 1</div>
      <div class="grid-item">Item 2</div>
      <div class="grid-item">Item 3</div>
    </section>
  </div>

  <div class="lesson" *ngIf="lesson === 9">
    <h2 class="subtitle">#{{ lesson }} grid-template-rows: px</h2>
    <section
      [ngClass]="{ 'full-page': fullPageStyle }"
      class="card grid gtr-px"
    >
      <div class="grid-item">Item 1</div>
      <div class="grid-item">Item 2</div>
      <div class="grid-item">Item 3</div>
    </section>
  </div>

  <div class="lesson" *ngIf="lesson === 10">
    <h2 class="subtitle">#{{ lesson }} grid-template-rows: fr</h2>
    <section
      [ngClass]="{ 'full-page': fullPageStyle }"
      class="card grid gtr-fr"
    >
      <div class="grid-item">Item 1</div>
      <div class="grid-item">Item 2</div>
      <div class="grid-item">Item 3</div>
    </section>
  </div>

  <div class="lesson" *ngIf="lesson === 11">
    <h2 class="subtitle">#{{ lesson }} grid-template-rows: auto</h2>
    <section
      [ngClass]="{ 'full-page': fullPageStyle }"
      class="card grid gtr-auto"
    >
      <div class="grid-item">Item 1</div>
      <div class="grid-item">Item 2</div>
      <div class="grid-item">Item 3</div>
      <div class="grid-item">Item 4</div>
      <div class="grid-item">Item 5</div>
      <div class="grid-item">Item 6</div>
    </section>
  </div>

  <div class="lesson" *ngIf="lesson === 12">
    <h2 class="subtitle">#{{ lesson }} grid-template-areas</h2>
    <section [ngClass]="{ 'full-page': fullPageStyle }" class="card grid gta-1">
      <div class="grid-item logo">Logo</div>
      <div class="grid-item menu">Menu</div>
      <div class="grid-item sidenav">Sidenav</div>
      <div class="grid-item content">Conteúdo</div>
      <div class="grid-item posts">Posts</div>
      <div class="grid-item footer">Footer</div>
    </section>
  </div>

  <div class="lesson" *ngIf="lesson === 13">
    <h2 class="subtitle">#{{ lesson }} grid-template-areas</h2>
    <section [ngClass]="{ 'full-page': fullPageStyle }" class="card grid gta-2">
      <div class="grid-item logo">Logo</div>
      <div class="grid-item menu">Menu</div>
      <div class="grid-item sidenav">Sidenav</div>
      <div class="grid-item content">Conteúdo</div>
      <div class="grid-item posts">Posts</div>
      <div class="grid-item footer">Footer</div>
    </section>
  </div>

  <div class="lesson" *ngIf="lesson === 14">
    <h2 class="subtitle">#{{ lesson }} grid-template-areas</h2>
    <section [ngClass]="{ 'full-page': fullPageStyle }" class="card grid gta-3">
      <div class="grid-item logo">Logo</div>
      <div class="grid-item menu">Menu</div>
      <div class="grid-item sidenav">Sidenav</div>
      <div class="grid-item content">Conteúdo</div>
      <div class="grid-item posts">Posts</div>
      <div class="grid-item footer">Footer</div>
    </section>
  </div>

  <div class="lesson" *ngIf="lesson === 15">
    <h2 class="subtitle">#{{ lesson }} grid-template</h2>
    <section [ngClass]="{ 'full-page': fullPageStyle }" class="card grid gt">
      <div class="grid-item">Item 1</div>
      <div class="grid-item">Item 2</div>
      <div class="grid-item">Item 3</div>
      <div class="grid-item">Item 4</div>
      <div class="grid-item">Item 5</div>
      <div class="grid-item">Item 6</div>
    </section>
  </div>

  <div class="lesson" *ngIf="lesson === 16">
    <h2 class="subtitle">
      #{{ lesson }} grid-template com grid-template-areas
    </h2>
    <section
      [ngClass]="{ 'full-page': fullPageStyle }"
      class="card grid gta-1 gt-gta"
    >
      <div class="grid-item logo">Logo</div>
      <div class="grid-item menu">Menu</div>
      <div class="grid-item sidenav">Sidenav</div>
      <div class="grid-item content">Conteúdo</div>
      <div class="grid-item posts">Posts</div>
      <div class="grid-item footer">Footer</div>
    </section>
  </div>

  <div class="lesson" *ngIf="lesson === 17">
    <h2 class="subtitle">#{{ lesson }} gap</h2>
    <section [ngClass]="{ 'full-page': fullPageStyle }" class="card grid gap">
      <div class="grid-item">Item 1</div>
      <div class="grid-item">Item 2</div>
      <div class="grid-item">Item 3</div>
      <div class="grid-item">Item 4</div>
    </section>
  </div>

  <div class="lesson" *ngIf="lesson === 18">
    <h2 class="subtitle">#{{ lesson }} column-gap</h2>
    <section
      [ngClass]="{ 'full-page': fullPageStyle }"
      class="card grid column-gap"
    >
      <div class="grid-item">Item 1</div>
      <div class="grid-item">Item 2</div>
      <div class="grid-item">Item 3</div>
      <div class="grid-item">Item 4</div>
    </section>
  </div>

  <div class="lesson" *ngIf="lesson === 19">
    <h2 class="subtitle">#{{ lesson }} row-gap</h2>
    <section
      [ngClass]="{ 'full-page': fullPageStyle }"
      class="card grid row-gap"
    >
      <div class="grid-item">Item 1</div>
      <div class="grid-item">Item 2</div>
      <div class="grid-item">Item 3</div>
      <div class="grid-item">Item 4</div>
    </section>
  </div>

  <div class="lesson" *ngIf="lesson === 20">
    <h2 class="subtitle">#{{ lesson }} grid-column: número</h2>
    <section
      [ngClass]="{ 'full-page': fullPageStyle }"
      class="card grid gc gcn"
    >
      <div class="grid-item item1">Item 1</div>
      <div class="grid-item">Item 2</div>
      <div class="grid-item">Item 3</div>
      <div class="grid-item">Item 4</div>
      <div class="grid-item item5">Item 5</div>
      <div class="grid-item">Item 6</div>
    </section>
  </div>

  <div class="lesson" *ngIf="lesson === 21">
    <h2 class="subtitle">#{{ lesson }} grid-column: span (X)</h2>
    <section
      [ngClass]="{ 'full-page': fullPageStyle }"
      class="card grid gc gcs"
    >
      <div class="grid-item item1">Item 1</div>
      <div class="grid-item">Item 2</div>
      <div class="grid-item item3">Item 3</div>
      <div class="grid-item">Item 4</div>
      <div class="grid-item item5">Item 5</div>
      <div class="grid-item">Item 6</div>
    </section>
  </div>

  <div class="lesson" *ngIf="lesson === 22">
    <h2 class="subtitle">#{{ lesson }} grid-column: (X) / (X)</h2>
    <section
      [ngClass]="{ 'full-page': fullPageStyle }"
      class="card grid gc gcs2"
    >
      <div class="grid-item item1">Item 1</div>
      <div class="grid-item">Item 2</div>
      <div class="grid-item item3">Item 3</div>
      <div class="grid-item item4">Item 4</div>
      <div class="grid-item">Item 5</div>
      <div class="grid-item item6">Item 6</div>
    </section>
  </div>

  <div class="lesson" *ngIf="lesson === 23">
    <h2 class="subtitle">#{{ lesson }} grid-row: (X)</h2>
    <section [ngClass]="{ 'full-page': fullPageStyle }" class="card grid gr">
      <div class="grid-item item1">Item 1</div>
      <div class="grid-item">Item 2</div>
      <div class="grid-item">Item 3</div>
      <div class="grid-item">Item 4</div>
      <div class="grid-item item5">Item 5</div>
      <div class="grid-item">Item 6</div>
    </section>
  </div>

  <div class="lesson" *ngIf="lesson === 24">
    <h2 class="subtitle">#{{ lesson }} grid-row: span (X)</h2>
    <section [ngClass]="{ 'full-page': fullPageStyle }" class="card grid grs">
      <div class="grid-item item1">Item 1</div>
      <div class="grid-item item2">Item 2</div>
      <div class="grid-item item3">Item 3</div>
      <div class="grid-item item4">Item 4</div>
      <div class="grid-item">Item 5</div>
      <div class="grid-item">Item 6</div>
    </section>
  </div>

  <div class="lesson" *ngIf="lesson === 25">
    <h2 class="subtitle">#{{ lesson }} grid-row: (X) / (X)</h2>
    <section [ngClass]="{ 'full-page': fullPageStyle }" class="card grid gr2">
      <div class="grid-item item1">Item 1</div>
      <div class="grid-item item2">Item 2</div>
      <div class="grid-item item3">Item 3</div>
      <div class="grid-item item4">Item 4</div>
      <div class="grid-item">Item 5</div>
      <div class="grid-item">Item 6</div>
    </section>
  </div>

  <div class="lesson" *ngIf="lesson === 26">
    <h2 class="subtitle">#{{ lesson }} grid-area</h2>
    <section [ngClass]="{ 'full-page': fullPageStyle }" class="card grid ga">
      <div class="grid-item item1">Item 1</div>
      <div class="grid-item item2">Item 2</div>
      <div class="grid-item">Item 3</div>
      <div class="grid-item">Item 4</div>
      <div class="grid-item">Item 5</div>
      <div class="grid-item">Item 6</div>
    </section>
  </div>

  <div class="lesson lesson-lg" *ngIf="lesson === 27">
    <section class="card">
      <h1 class="title">That's all folks!</h1>
      <h2 class="subtitle">We are the Champions!</h2>
    </section>
  </div>

  <br /><br /><br /><br /><br />
</main>

<section id="controls" *ngIf="lesson !== 0">
  <button class="btn" (click)="prev()" [disabled]="lesson === 0">
    Anterior
  </button>
  <input class="input" type="number" [(ngModel)]="lesson" min="0" [max]="totalLessons" />
  <button class="btn" (click)="next()" [disabled]="lesson >= totalLessons">
    Próximo
  </button>
</section>

<section id="full-page" *ngIf="lesson !== 0">
  <button class="btn" id="full-page-btn" (click)="toggleFullPageStyle()">
    {{ fullPageText }}
  </button>
</section>
