<main id="main-content">
  <div class="lesson" *ngIf="lesson === 0">
    <h1 class="title">Do-jo CSS Flexbox - AmbevTech</h1>
    <button class="btn btn-inline-block" (click)="init()">Let's code!</button>
  </div>
  
  <div class="lesson" *ngIf="lesson === 1">
    <h2 class="subtitle">#{{ lesson }} - FLEX CONTAINER: display: flex</h2>
    <section class="card flex">
      <div class="item">Item 1</div>
      <div class="item">Item 2</div>
      <div class="item">Item 3</div>
      <div class="item">Item 4</div>
    </section>
  </div>
  <div class="lesson" *ngIf="lesson === 2">
    <h2 class="subtitle">#{{ lesson }} - FLEX CONTAINER: flex-wrap: nowrap</h2>
    <section class="card flex nowrap">
      <div class="item">Item 1</div>
      <div class="item">Item 2</div>
      <div class="item">Item 3</div>
      <div class="item">Item 4</div>
      <div class="item">Item 1</div>
      <div class="item">Item 2</div>
      <div class="item">Item 3</div>
      <div class="item">Item 4</div>
      <div class="item">Item 5</div>
      <div class="item">Item 6</div>
      <div class="item">Item 7</div>
      <div class="item">Item 8</div>
    </section>
  </div>
  <div class="lesson" *ngIf="lesson === 3">
    <h2 class="subtitle">#{{ lesson }} - FLEX CONTAINER: flex-wrap: wrap</h2>
    <section class="card flex wrap">
      <div class="item">Item 1</div>
      <div class="item">Item 2</div>
      <div class="item">Item 3</div>
      <div class="item">Item 4</div>
      <div class="item">Item 5</div>
      <div class="item">Item 6</div>
      <div class="item">Item 7</div>
      <div class="item">Item 8</div>
    </section>
  </div>
  <div class="lesson" *ngIf="lesson === 4">
    <h2 class="subtitle">#{{ lesson }} - FLEX CONTAINER: flex-direction: row</h2>
    <section class="card flex row">
      <div class="item">Item 1</div>
      <div class="item">Item 2</div>
      <div class="item">Item 3</div>
      <div class="item">Item 4</div>
    </section>
  </div>
  <div class="lesson" *ngIf="lesson === 5">
    <h2 class="subtitle">#{{ lesson }} - FLEX CONTAINER: flex-direction: column</h2>
    <section class="card flex column">
      <div class="item">Item 1</div>
      <div class="item">Item 2</div>
      <div class="item">Item 3</div>
      <div class="item">Item 4</div>
    </section>
  </div>
  <div class="lesson" *ngIf="lesson === 6">
    <h2 class="subtitle">#{{ lesson }} - FLEX CONTAINER: flex-flow</h2>
    <section class="card flex flex-flow-row-1">
      <div class="item">Item 1</div>
      <div class="item">Item 2</div>
      <div class="item">Item 3</div>
      <div class="item">Item 4</div>
      <div class="item">Item 5</div>
      <div class="item">Item 6</div>
      <div class="item">Item 7</div>
      <div class="item">Item 8</div>
    </section>
    <section class="card flex flex-flow-row-2">
      <div class="item">Item 1</div>
      <div class="item">Item 2</div>
      <div class="item">Item 3</div>
      <div class="item">Item 4</div>
      <div class="item">Item 5</div>
      <div class="item">Item 6</div>
      <div class="item">Item 7</div>
      <div class="item">Item 8</div>
    </section>
  </div>
  <div class="lesson" *ngIf="lesson === 7">
    <h2 class="subtitle">#{{ lesson }} - FLEX CONTAINER: flex-flow</h2>
    <section class="card flex flex-flow-column-1">
      <div class="item">Item 1</div>
      <div class="item">Item 2</div>
    </section>
    <section class="card flex flex-flow-column-2">
      <div class="item">Item 1</div>
      <div class="item">Item 2</div>
    </section>
  </div>
  <div class="lesson" *ngIf="lesson === 8">
    <h2 class="subtitle">#{{ lesson }} - FLEX CONTAINER: justify-content</h2>
    <section class="card flex jc-start">
      <div class="item">Um exemplo do item 1</div>
      <div class="item">Item 2</div>
      <div class="item">Outro item 3</div>
    </section>
    <section class="card flex jc-center">
      <div class="item">Um exemplo do item 1</div>
      <div class="item">Item 2</div>
      <div class="item">Outro item 3</div>
    </section>
    <section class="card flex jc-end">
      <div class="item">Um exemplo do item 1</div>
      <div class="item">Item 2</div>
      <div class="item">Outro item 3</div>
    </section>
    <section class="card flex jc-between">
      <div class="item">Um exemplo do item 1</div>
      <div class="item">Item 2</div>
      <div class="item">Outro item 3</div>
    </section>
    <section class="card flex jc-around">
      <div class="item">Um exemplo do item 1</div>
      <div class="item">Item 2</div>
      <div class="item">Outro item 3</div>
    </section>
  </div>
  <div class="lesson" *ngIf="lesson === 9">
    <h2 class="subtitle">#{{ lesson }} - FLEX CONTAINER: align-items</h2>
    <section class="card flex ai-start">
      <div class="item">Um exemplo do item 1</div>
      <div class="item">Item 2</div>
      <div class="item">Outro item 3</div>
    </section>
    <section class="card flex ai-center">
      <div class="item">Um exemplo do item 1</div>
      <div class="item">Item 2</div>
      <div class="item">Outro item 3</div>
    </section>
    <section class="card flex ai-end">
      <div class="item">Um exemplo do item 1</div>
      <div class="item">Item 2</div>
      <div class="item">Outro item 3</div>
    </section>
    <section class="card flex ai-stretch">
      <div class="item">Um exemplo do item 1</div>
      <div class="item">Item 2</div>
      <div class="item">Outro item 3</div>
    </section>
  </div>
  <div class="lesson" *ngIf="lesson === 10">
    <h2 class="subtitle">#{{ lesson }} - FLEX ITEM: align-self</h2>
    <section class="card flex align-self">
      <div class="item self-start">Um exemplo do item 1</div>
      <div class="item">Item 2</div>
      <div class="item">Outro item 3</div>
    </section>
    <section class="card flex align-self">
      <div class="item">Um exemplo do item 1</div>
      <div class="item">Item 2</div>
      <div class="item self-center">Outro item 3</div>
    </section>
    <section class="card flex align-self">
      <div class="item">Um exemplo do item 1</div>
      <div class="item self-end">Item 2</div>
      <div class="item">Outro item 3</div>
    </section>
    <section class="card flex align-self ai-start">
      <div class="item">Um exemplo do item 1</div>
      <div class="item self-stretch">Item 2</div>
      <div class="item">Outro item 3</div>
    </section>
  </div>
  <div class="lesson" *ngIf="lesson === 11">
    <h2 class="subtitle">#{{ lesson }} - FLEX ITEM: flex-grow</h2>
    <section class="card flex">
      <div class="item flex-grow-0">Um exemplo do item 1</div>
      <div class="item flex-grow-0">Item 2</div>
      <div class="item flex-grow-0">Item 3</div>
      <div class="item flex-grow-0">Outro item 4</div>
    </section>
    <section class="card flex">
      <div class="item flex-grow-1">Um exemplo do item 1</div>
      <div class="item flex-grow-1">Item 2</div>
      <div class="item flex-grow-1">Item 3</div>
      <div class="item flex-grow-1">Outro item 4</div>
    </section>
    <section class="card flex">
      <div class="item flex-grow-0">Item 1</div>
      <div class="item flex-grow-1">Item 2</div>
      <div class="item flex-grow-2">Item 3</div>
    </section>
  </div>
  <div class="lesson" *ngIf="lesson === 12">
    <h2 class="subtitle">#{{ lesson }} - FLEX ITEM: order</h2>
    <section class="card flex order">
      <div class="item">1 - Order 0</div>
      <div class="item">2 - Order 0</div>
      <div class="item">3 - Order 0</div>
      <div class="item order-0">4 - Order 0</div>
    </section>
    <section class="card flex order">
      <div class="item order-2">1 - Order 2</div>
      <div class="item">2 - Order 0</div>
      <div class="item">3 - Order 0</div>
      <div class="item order-1">4 - Order 1</div>
    </section>
    <section class="card flex order">
      <div class="item order-2">1 - Order 2</div>
      <div class="item">2 - Order 0</div>
      <div class="item">3 - Order 0</div>
      <div class="item order--1">4 - Order -1</div>
    </section>
  </div>
  <div class="lesson" *ngIf="lesson === 13">
    <h2 class="subtitle">#{{ lesson }} - FLEX ITEM: flex-basis</h2>
    <section class="card flex flex-basis">
      <div class="item basis-0">Item 1</div>
      <div class="item">Item 2</div>
      <div class="item">Item 3</div>
      <div class="item">Item 4</div>
    </section>
    <section class="card flex flex-basis">
      <div class="item">Item 1</div>
      <div class="item">Item 2</div>
      <div class="item basis-50">Item 3</div>
      <div class="item">Item 4</div>
    </section>
    <section class="card flex flex-basis">
      <div class="item">Item 1</div>
      <div class="item basis-200">Item 2</div>
      <div class="item">Item 3</div>
      <div class="item">Item 4</div>
    </section>
  </div>

  <br /><br /><br /><br /><br />
</main>

<section id="controls" *ngIf="lesson !== 0">
  <button class="btn" (click)="prev()" [disabled]="lesson === 0">
    Anterior
  </button>
  <input class="input" type="number" [(ngModel)]="lesson" />
  <button class="btn" (click)="next()" [disabled]="lesson >= lessonsQuantity">
    Próximo
  </button>
</section>

<section id="full-page" *ngIf="lesson !== 0">
  <button class="btn" id="full-page-btn" (click)="toggleFullPageStyle()">
    {{ fullPageText }}
  </button>
</section>
