<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Do-jo CSS Grid Layout - AmbevTech</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body>
  <main id="main-content">
    <div class="lesson" *ngIf="lesson === 0">
      <h1 class="title">Do-jo CSS Grid Layout - AmbevTech</h1>
      <button class="btn btn-inline-block" (click)="init()">Let's code!</button>
    </div>

    <div class="lesson" *ngIf="lesson === 1">
      <h2 class="subtitle">#{{ lesson }} display: grid</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
        <div class="grid-item">
          Item 4
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 2">
      <h2 class="subtitle">#{{ lesson }} grid-template-columns: px</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gtc-px">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 3">
      <h2 class="subtitle">#{{ lesson }} grid-template-columns: fr</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gtc-fr">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 4">
      <h2 class="subtitle">#{{ lesson }} grid-template-columns: repeat()</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gtc-repeat">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 5">
      <h2 class="subtitle">#{{ lesson }} grid-template-columns: auto-fit()</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gtc-autofit">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
        <div class="grid-item">
          Item 4
        </div>
        <div class="grid-item">
          Item 5
        </div>
        <div class="grid-item">
          Item 6
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 6">
      <h2 class="subtitle">#{{ lesson }} grid-template-columns: minmax()</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gtc-minmax1">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 7">
      <h2 class="subtitle">#{{ lesson }} grid-template-columns: minmax()</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gtc-minmax1">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 8">
      <h2 class="subtitle">#{{ lesson }} grid-template-columns: minmax()</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gtc-minmax2">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 9">
      <h2 class="subtitle">#{{ lesson }} grid-template-rows: px</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gtr-px">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 10">
      <h2 class="subtitle">#{{ lesson }} grid-template-rows: fr</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gtr-fr">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 11">
      <h2 class="subtitle">#{{ lesson }} grid-template-rows: auto</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gtr-auto">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
        <div class="grid-item">
          Item 4
        </div>
        <div class="grid-item">
          Item 5
        </div>
        <div class="grid-item">
          Item 6
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 12">
      <h2 class="subtitle">#{{ lesson }} grid-template-areas</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gta-1">
        <div class="grid-item logo">
          Logo
        </div>
        <div class="grid-item menu">
          Menu
        </div>
        <div class="grid-item sidenav">
          Sidenav
        </div>
        <div class="grid-item content">
          Conteúdo
        </div>
        <div class="grid-item posts">
          Posts
        </div>
        <div class="grid-item footer">
          Footer
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 13">
      <h2 class="subtitle">#{{ lesson }} grid-template-areas</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gta-2">
        <div class="grid-item logo">
          Logo
        </div>
        <div class="grid-item menu">
          Menu
        </div>
        <div class="grid-item sidenav">
          Sidenav
        </div>
        <div class="grid-item content">
          Conteúdo
        </div>
        <div class="grid-item posts">
          Posts
        </div>
        <div class="grid-item footer">
          Footer
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 14">
      <h2 class="subtitle">#{{ lesson }} grid-template-areas</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gta-3">
        <div class="grid-item logo">
          Logo
        </div>
        <div class="grid-item menu">
          Menu
        </div>
        <div class="grid-item sidenav">
          Sidenav
        </div>
        <div class="grid-item content">
          Conteúdo
        </div>
        <div class="grid-item posts">
          Posts
        </div>
        <div class="grid-item footer">
          Footer
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 15">
      <h2 class="subtitle">#{{ lesson }} grid-template</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gt">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
        <div class="grid-item">
          Item 4
        </div>
        <div class="grid-item">
          Item 5
        </div>
        <div class="grid-item">
          Item 6
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 16">
      <h2 class="subtitle">#{{ lesson }} grid-template com grid-template-areas</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gta-1 gt-gta">
        <div class="grid-item logo">
          Logo
        </div>
        <div class="grid-item menu">
          Menu
        </div>
        <div class="grid-item sidenav">
          Sidenav
        </div>
        <div class="grid-item content">
          Conteúdo
        </div>
        <div class="grid-item posts">
          Posts
        </div>
        <div class="grid-item footer">
          Footer
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 17">
      <h2 class="subtitle">#{{ lesson }} gap</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gap">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
        <div class="grid-item">
          Item 4
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 18">
      <h2 class="subtitle">#{{ lesson }} column-gap</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid column-gap">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
        <div class="grid-item">
          Item 4
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 19">
      <h2 class="subtitle">#{{ lesson }} row-gap</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid row-gap">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
        <div class="grid-item">
          Item 4
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 20">
      <h2 class="subtitle">#{{ lesson }} grid-auto-colums</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gac">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item gr3">
          Item 3
        </div>
        <div class="grid-item">
          Item 4
        </div>
        <div class="grid-item">
          Item 5
        </div>
        <div class="grid-item">
          Item 6
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 21">
      <h2 class="subtitle">#{{ lesson }} grid-auto-colums</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gac2">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
        <div class="grid-item">
          Item 4
        </div>
        <div class="grid-item">
          Item 5
        </div>
        <div class="grid-item gr6">
          Item 6
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 22">
      <h2 class="subtitle">#{{ lesson }} grid-auto-rows</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gar">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
        <div class="grid-item">
          Item 4
        </div>
        <div class="grid-item">
          Item 5
        </div>
        <div class="grid-item">
          Item 6
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 23">
      <h2 class="subtitle">#{{ lesson }} grid-auto-rows</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gar">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
        <div class="grid-item">
          Item 4
        </div>
        <div class="grid-item">
          Item 5
        </div>
        <div class="grid-item gr4">
          Item 6
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 24">
      <h2 class="subtitle">#{{ lesson }} grid-auto-rows</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gar2">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
        <div class="grid-item">
          Item 4
        </div>
        <div class="grid-item">
          Item 5
        </div>
        <div class="grid-item">
          Item 6
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 25">
      <h2 class="subtitle">#{{ lesson }} grid-auto-flow: row</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gaf">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 26">
      <h2 class="subtitle">#{{ lesson }} grid-auto-flow: column</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gafc">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 27">
      <h2 class="subtitle">#{{ lesson }} grid-auto-flow: column</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gafc2">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
        <div class="grid-item">
          Item 4
        </div>
        <div class="grid-item">
          Item 5
        </div>
        <div class="grid-item">
          Item 6
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 28">
      <h2 class="subtitle">#{{ lesson }} grid-auto-flow: dense</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gafd">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item gc-span">
          Item 3
        </div>
        <div class="grid-item">
          Item 4
        </div>
        <div class="grid-item">
          Item 5
        </div>
        <div class="grid-item">
          Item 6
        </div>
        <div class="grid-item">
          Item 7
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 29">
      <h2 class="subtitle">#{{ lesson }} grid</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid" id="grid">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
        <div class="grid-item">
          Item 4
        </div>
        <div class="grid-item">
          Item 5
        </div>
        <div class="grid-item">
          Item 6
        </div>
        <div class="grid-item">
          Item 7
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 30">
      <h2 class="subtitle">#{{ lesson }} grid 2</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid" id="grid2">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
        <div class="grid-item">
          Item 4
        </div>
        <div class="grid-item">
          Item 5
        </div>
        <div class="grid-item">
          Item 6
        </div>
        <div class="grid-item">
          Item 7
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 31">
      <h2 class="subtitle">#{{ lesson }} grid 3</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid" id="grid3">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
        <div class="grid-item">
          Item 4
        </div>
        <div class="grid-item">
          Item 5
        </div>
        <div class="grid-item">
          Item 6
        </div>
        <div class="grid-item">
          Item 7
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 32">
      <h2 class="subtitle">#{{ lesson }} grid 4</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid" id="grid4">
        <div class="grid-item logo">
          Logo
        </div>
        <div class="grid-item menu">
          Menu
        </div>
        <div class="grid-item sidenav">
          Sidenav
        </div>
        <div class="grid-item content">
          Conteúdo
        </div>
        <div class="grid-item posts">
          Posts
        </div>
        <div class="grid-item footer">
          Footer
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 33">
      <h2 class="subtitle">#{{ lesson }} justify-content: start</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid jcs">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 34">
      <h2 class="subtitle">#{{ lesson }} justify-content: center</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid jcc">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 35">
      <h2 class="subtitle">#{{ lesson }} justify-content: end</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid jce">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 36">
      <h2 class="subtitle">#{{ lesson }} justify-content: space-between</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid jcsb">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 37">
      <h2 class="subtitle">#{{ lesson }} justify-content: space-around</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid acsa">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 38">
      <h2 class="subtitle">#{{ lesson }} justify-content: space-evenly</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid acse">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 39">
      <h2 class="subtitle">#{{ lesson }} align-content: start</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid acs">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 40">
      <h2 class="subtitle">#{{ lesson }} align-content: center</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid acc">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 41">
      <h2 class="subtitle">#{{ lesson }} align-content: end</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid ace">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 42">
      <h2 class="subtitle">#{{ lesson }} align-content: space-between</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid acsb">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 43">
      <h2 class="subtitle">#{{ lesson }} align-content: space-around</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid acsa">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 44">
      <h2 class="subtitle">#{{ lesson }} align-content: space-evenly</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid acse">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 45">
      <h2 class="subtitle">#{{ lesson }} justify-items: start</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid jis">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 46">
      <h2 class="subtitle">#{{ lesson }} justify-items: center</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid jic">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 47">
      <h2 class="subtitle">#{{ lesson }} justify-items: end</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid jie">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 48">
      <h2 class="subtitle">#{{ lesson }} justify-items: stretch</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid jist">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 49">
      <h2 class="subtitle">#{{ lesson }} align-items: start</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid ais">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 50">
      <h2 class="subtitle">#{{ lesson }} align-items: center</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid aic">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 51">
      <h2 class="subtitle">#{{ lesson }} align-items: end</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid aie">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 52">
      <h2 class="subtitle">#{{ lesson }} align-items: stretch</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid aist">
        <div class="grid-item">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 53">
      <h2 class="subtitle">#{{ lesson }} grid-column: número</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gc gcn">
        <div class="grid-item item1">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
        <div class="grid-item">
          Item 4
        </div>
        <div class="grid-item item5">
          Item 5
        </div>
        <div class="grid-item">
          Item 6
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 54">
      <h2 class="subtitle">#{{ lesson }} grid-column: número + auto-flow: dense</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gc gcaf">
        <div class="grid-item item1">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
        <div class="grid-item">
          Item 4
        </div>
        <div class="grid-item item5">
          Item 5
        </div>
        <div class="grid-item">
          Item 6
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 55">
      <h2 class="subtitle">#{{ lesson }} grid-column: span (X)</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gc gcs">
        <div class="grid-item item1">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item item3">
          Item 3
        </div>
        <div class="grid-item">
          Item 4
        </div>
        <div class="grid-item item5">
          Item 5
        </div>
        <div class="grid-item">
          Item 6
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 56">
      <h2 class="subtitle">#{{ lesson }} grid-column: (X) / (X)</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gc gcs2">
        <div class="grid-item item1">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item item3">
          Item 3
        </div>
        <div class="grid-item item4">
          Item 4
        </div>
        <div class="grid-item">
          Item 5
        </div>
        <div class="grid-item item6">
          Item 6
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 57">
      <h2 class="subtitle">#{{ lesson }} grid-column: (X) / (X) <br>+<br> grid-template-columns: [name1] 1fr 1fr [name2]
      </h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gcgtc">
        <div class="grid-item item1">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
        <div class="grid-item item4">
          Item 4
        </div>
        <div class="grid-item">
          Item 5
        </div>
        <div class="grid-item">
          Item 6
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 58">
      <h2 class="subtitle">#{{ lesson }} grid-column: (X) / (X) <br>+<br> grid-template-areas</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gcgta">
        <div class="grid-item logo">
          Logo
        </div>
        <div class="grid-item menu">
          Menu
        </div>
        <div class="grid-item sidenav">
          Sidenav
        </div>
        <div class="grid-item content">
          Conteúdo
        </div>
        <div class="grid-item footer">
          Footer
        </div>
        <div class="grid-item partners">
          Posts
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 59">
      <h2 class="subtitle">#{{ lesson }} grid-row: (X)</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gr">
        <div class="grid-item item1">
          Item 1
        </div>
        <div class="grid-item">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
        <div class="grid-item">
          Item 4
        </div>
        <div class="grid-item item5">
          Item 5
        </div>
        <div class="grid-item">
          Item 6
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 60">
      <h2 class="subtitle">#{{ lesson }} grid-row: span (X)</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid grs">
        <div class="grid-item item1">
          Item 1
        </div>
        <div class="grid-item item2">
          Item 2
        </div>
        <div class="grid-item item3">
          Item 3
        </div>
        <div class="grid-item item4">
          Item 4
        </div>
        <div class="grid-item">
          Item 5
        </div>
        <div class="grid-item">
          Item 6
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 61">
      <h2 class="subtitle">#{{ lesson }} grid-row: (X) / (X)</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gr2">
        <div class="grid-item item1">
          Item 1
        </div>
        <div class="grid-item item2">
          Item 2
        </div>
        <div class="grid-item item3">
          Item 3
        </div>
        <div class="grid-item item4">
          Item 4
        </div>
        <div class="grid-item">
          Item 5
        </div>
        <div class="grid-item">
          Item 6
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 62">
      <h2 class="subtitle">#{{ lesson }} grid-row: (X) / (X) <br>+<br> grid-template-rows: [name1] 1fr 1fr [name2]</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gr3">
        <div class="grid-item item1">
          Item 1
        </div>
        <div class="grid-item item2">
          Item 2
        </div>
        <div class="grid-item item3">
          Item 3
        </div>
        <div class="grid-item">
          Item 4
        </div>
        <div class="grid-item">
          Item 5
        </div>
        <div class="grid-item">
          Item 6
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 63">
      <h2 class="subtitle">#{{ lesson }} grid-row: (X) / (X) <br>+<br> grid-template-areas</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gr4">
        <div class="grid-item menu">
          Menu
        </div>
        <div class="grid-item sidenav">
          Sidenav
        </div>
        <div class="grid-item content">
          Content
        </div>
        <div class="grid-item posts">
          Posts
        </div>
        <div class="grid-item footer">
          Footer
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 64">
      <h2 class="subtitle">#{{ lesson }} grid-area</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid ga">
        <div class="grid-item item1">
          Item 1
        </div>
        <div class="grid-item item2">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
        <div class="grid-item">
          Item 4
        </div>
        <div class="grid-item">
          Item 5
        </div>
        <div class="grid-item">
          Item 6
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 65">
      <h2 class="subtitle">#{{ lesson }} grid-area: span</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid gas">
        <div class="grid-item item1">
          Item 1
        </div>
        <div class="grid-item item2">
          Item 2
        </div>
        <div class="grid-item">
          Item 3
        </div>
        <div class="grid-item">
          Item 4
        </div>
        <div class="grid-item item5">
          Item 5
        </div>
        <div class="grid-item">
          Item 6
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 66">
      <h2 class="subtitle">#{{ lesson }} justify-self</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid jc">
        <div class="grid-item item1">
          Item 1
        </div>
        <div class="grid-item item2">
          Item 2
        </div>
        <div class="grid-item item3">
          Item 3
        </div>
        <div class="grid-item item4">
          Item 4
        </div>
        <div class="grid-item item5">
          Item 5
        </div>
        <div class="grid-item item6">
          Item 6
        </div>
      </section>
    </div>

    <div class="lesson" *ngIf="lesson === 67">
      <h2 class="subtitle">#{{ lesson }} align-self</h2>
      <section [ngClass]="{'full-page': fullPageStyle}" class="card grid as">
        <div class="grid-item item1">
          Item 1
        </div>
        <div class="grid-item item2">
          Item 2
        </div>
        <div class="grid-item item3">
          Item 3
        </div>
        <div class="grid-item item4">
          Item 4
        </div>
        <div class="grid-item item5">
          Item 5
        </div>
        <div class="grid-item item6">
          Item 6
        </div>
      </section>
    </div>


    <br><br><br><br><br>
  </main>

  <section id="controls" *ngIf="lesson !== 0">
    <button class="btn" (click)="prev()" [disabled]="lesson === 0">Anterior</button>
    <button class="btn" (click)="next()" [disabled]="lesson === 67">Próximo</button>
  </section>

  <section id="full-page" *ngIf="lesson !== 0">
    <button class="btn" id="full-page-btn" (click)="toggleFullPageStyle()">
      {{ fullPageText }}
    </button>
  </section>
</body>

</html>