$black: #2c3e50;
$clouds: #ecf0f1;
$gray: #bdc3c7;
$red: #c0392b;
$yellow: #f1c40f;

/**
 * animation slideTop
 */
@keyframes slideTop {
  0% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

* {
  font-family: "Ubuntu", sans-serif, serif;
  box-sizing: border-box;
}

html {
  background-color: $black;
}

body {
  background-color: $black;
  padding: 0;
  margin: 0;
}

/**
 * Grid
 */
.grid {
  display: grid;
  gap: 0.5rem;
}

.grid-item {
  color: $clouds;
  padding: 0.5rem;
  background-color: $red;
  border-radius: 4px;
}

/**
 * General content
 */
#main-content {
  text-align: center;
  background-color: transparent;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.card {
  background-color: $clouds;
  padding: 1rem;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 4px;
  animation: slideTop 0.75s;

  &.full-page {
    max-width: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 4rem;
    z-index: 2;
    border-radius: 0;
  }
}

.lesson {
  padding: 1.5rem;
  background-color: $black;
  position: absolute;
  min-height: 100vh;
  width: 100%;
  left: 0;
  top: 0;

  &-lg {
    display: flex;
    align-items: center;

    .card {
      width: 100%;
      max-width: 100%;
      padding: 6rem 2rem;
    }

    .title {
      font-size: 7rem;
      color: $yellow;
      text-shadow: 5px 5px 1px $red;
      font-weight: bold;
    }
    .subtitle {
      font-size: 3rem;
      color: $black;
    }
  }
}

/**
 * Titles
 */

.title {
  color: $yellow;
  margin-top: 0;
  margin-bottom: 2rem;

  &-lg {
    font-size: 3rem;
  }
}

.subtitle {
  color: $yellow;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  animation: slideTop 0.75s;
}
